body{
	display: grid;
	grid-template-rows: 150px 1fr;
	grid-template-areas: "header nav nav"
						"main main aside"
						"footer footer footer";
						

}

ul {
        List-style-type: none;
}

header{
	background-color:blue;
	color: white;
	padding: 20px;
	grid-area: header;
	text-align:center;
	font-size: 40px;
	font-family: "Calibri Light";
	width: 500px;
	
}

nav{
	background-color:yellow;
	grid-area: nav;
	text-align:center;
	word-spacing: 3em;
	font-family: "Calibri Light";
	width: 800px;
}

main{
	background-color:darkblue;
	color: white;
	grid-area: main;
	font-family: "Calibri Light";
	width: 950px;
}

aside{
	background-color: lightgreen;
	grid-area: aside;
	font-family: "Calibri Light";
	width: 400px;
}

footer{
	background-color: darkgreen;
	color: white;
	font-family: "Calibri Light";
	grid-area: footer;
	font-size:14px;
	
}

